
.omniauth-sign-in-area

  %p Aby skorzystać z transmisji zaloguj się do swojego konta Google.

  = link_to omniauth_url(:user), class: 'btn btn-block btn-social btn-google btn-lg' do
    %span.fa.fa-google
    Zaloguj się z Google
