#comment-modal.modal.fade{ data: { backdrop: 'static', keyboard: false } }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Komentarz
      .modal-body
        %p.text-danger
          %strong.delete-item-info
      .modal-footer