.row
  .col-xs-12.col-sm-6
    .well.clearfix

      .clearfix
        %h1.page-title.pull-left
          Komentarze
          %br
          %small= phone_number(@congregation.sip_phone_number)

      %ul#phone-transmission.clearfix{ data: { initial: AsteriskWrapper::Channel.initial_data(@congregation.internal_phone_number).to_json, transmission: current_congregation.try(:phone_transmission).try(:internal_phone_number) }}