- content_for :top_navigation do
  = render 'congregation/base/top_navigation'

.row
  .col-xs-12.col-sm-6

    .clearfix

      %h1.page-title.pull-left
        Transmisja Telefoniczna
        %br
        %small= phone_number(current_congregation.sip_phone_number)

      .pull-right.header-action
        = link_to congregation_kick_all_path(current_congregation.internal_phone_number), class: 'soft-delete soft-delete-remote pull-right text-danger',
           data: { message: 'Ta akcja usunie wszystkich z transmisji.'}, title: 'Ta akcja usunie wszystkich z transmisji.' do
          = glyph(:trash)



    %ul#phone-transmission{ data: { initial: AsteriskWrapper::Channel.initial_data(current_congregation.internal_phone_number).to_json }}