.error-area
  %p.text-danger
    Niestety zalogowanie się do twojego konta było niemożliwe.
    %br
    Upewnij się, że podałeś braciom w zborze email przypisany do konta na które próbujesz się zalogować.
  %p
    = link_to 'Powrót na stronę logowania', default_root_path
