@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";

body {
  padding-top: 70px;
}

footer {
  padding: 100px 0 20px 0;
  text-align: center;
}

.button-label {
  margin: 0 10px;
}

.top-page-actions {
  padding: 10px 0;
  margin: 0 0 30px 0;
}

h1 {

  &.page-title {
    margin: 10px 0 20px 0;
    padding: 0;
    font-size: 22px;
  }

  &.no-resources {
    margin: 10px 0 20px 0;
    padding: 0;
    font-size: 26px;
    color: #999;
  }

}

h2 {

  &.map-key-settings {
    margin: 40px 0 15px 0;
    padding: 0;
    font-size: 18px;
  }

}

.checkbox-area {
  margin: 15px 0 15px 30px;
  padding: 10px 0;
  h2.checkbox-area-title {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 16px;
    color: #999;
  }
}

.ml-15 {
  margin-left: 15px;
}

.user-key-maps-entry-form {
  margin: 15px 0 15px 30px;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

#phone-transmission {

  position: relative;

  listy-style: none;
  margin: 20px 0;
  padding: 0;

  li {

    position: relative;

    background: #f7f9f5;
    list-style: none;
    padding: 15px 20px;

    margin: 20px 0;

    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 60px;

    &.public {
      background: none;
      border: none;
      float: left;
      margin: 0px;
      padding: 0;
      .comments {
        margin: 0;
        .comment-entry {
          margin: 10px;
        }
      }
    }

    .user-name {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: bold;
    }

    .users-count {
      font-size: 14px;
      color: #999;
    }

    .actions {
      margin: 0;
      vertical-align: bottom;
      a {
        vertical-align: bottom;
        img {
          vertical-align: bottom;
        }
        margin-left: 10px;

        &.kick {
          font-size: 14px;
        }
      }
    }

    .comments {

      position: relative;
      margin: 5px 0;

      .comment-entry {
        display: block;
        float: left;
        padding: 5px;
        border: 1px solid #999999;
        border-radius: 3px;
        margin-right: 5px;
        background: #ffffff;
        text-decoration: none;
        &.disabled {
          text-decoration: line-through;
          cursor: default;
        }
      }

    }

  }
}

.mute-area {
  p.caller-id {
    font-size: 22px;
  }
  p.mute {
    margin: 15px 0;
  }
}

.header-action {
  padding-top: 10px;
  a {
    font-size: 20px;
  }
}

#comment-modal {
  .modal-body {
    background: #f7f9f5;
  }
}

#youtube-refresh {
  margin: 10px 0;

  p {
    position: relative;
    margin: 10px auto 0 auto;
  }
}

#video-transmission {

  position: relative;



  p.preparing-video-transmission-info {
    margin: 20px;
  }

  #video-preview-wrapper {

    position: relative;
    margin: 5px auto;
    width: 300px;
    height: 150px;

    #video-preview {
      width: 300px;
      height: 150px;
    }
  }

  .overlay {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 0;
    top: 0;
    z-index: 100;
    .remove-video-preview {
      position: absolute;
      right: 5px;
      top: 5px;
      font-weight: bold;
      font-size: 16px;
    }
  }

  #broadcast-users {
    margin: 20px 0;

    #video-users {

      margin: 0 0 20px 0;
      position: relative;

      listy-style: none;
      margin: 20px 0;
      padding: 0;

      li {

        position: relative;

        background: #f7f9f5;
        list-style: none;
        padding: 15px 20px;

        margin: 20px 0;

        border: 1px solid #ccc;
        border-radius: 5px;
        min-height: 60px;

        .user-name {
          margin: 0;
          padding: 0;
          font-size: 16px;
          font-weight: bold;
        }

        .users-count {
          font-size: 14px;
          color: #999;
        }

        .actions {
          margin: 0;
          vertical-align: bottom;
          a {
            vertical-align: bottom;
            img {
              vertical-align: bottom;
            }
            margin-left: 10px;

          }
        }
      }
    }
  }



}
  #form-brodcast-user-list {
    list-style: none;
    padding: 0 20px;
    li {
      padding: 5px 0;
      border-bottom: 1px dashed #ccc;
    }
  }

ul.actions {
  margin: 0;
  padding: 0;
  listy-style: none;
  li {
    padding: 6px;
    list-style: none;
  }
}

#congregations-comment-list {

  list-style: none;

  margin: 0;
  padding: 0;
  li {
    text-align: center;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px dashed #CCCCCC;
  }

}

.cron-nested-fields {
  padding: 10px 0;
  border-bottom: 1px dashed #CCCCCC;
}

.cron-links {
  margin: 10px;

}